<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Monogo\WeatherApi\Model\Api\WeatherApiInterface" type="Monogo\WeatherApi\Model\Api\WeatherApi" />
    <preference for="Monogo\WeatherApi\Model\Curl\CurlInterface" type="Monogo\WeatherApi\Model\Curl\Curl" />
</config>
